.eyfel-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 0 40px;
  row-gap: 100px;
  @include tablet {
    padding: 0 16px;
  }
  @include mobile {
    padding: 0 16px;
  }
}

.eyfel-main {
  .eyfel-main__description {
    @include mobile {
      margin-top: 30px;
    }
  }
}

.order {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 40px;
  position: relative;
  @include mobile {
    padding: 60px 16px;
  }
}
.order__flower {
   position: absolute;
   top: 10%;
   left: 0;
   z-index: 2;

   @include tablet {
     width: 300px;
     top: 20%;
   }
   @include mobile {
     width: 150px;
     top: 35%;
   }
 }
.eyfel__catalog {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  @include  mobile {
    margin-top: 150px;
  }
}
.eyfel-page__catalog, .eyfel-page__bestsellers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 20px;
  width: -webkit-fill-available;
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}

.eyfel-page__catalog__title {
  font-style: italic;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.eyfel-page__bestsellers {
  margin-bottom: 100px;
}

.modal {
  display: flex;
  position: absolute;
  z-index: 100;
  margin: 0 auto;
}
.gradient {
  background: rgb(156,120,33);
  background: $gold-gradient
}
.mgl {
  margin-left: 40px;
}
.pdl {
  padding-left: 40px;
}

