$brand_yellow: #000;
$brand_black: #000;
$light: #F9F7E5;
$dark: #000;
$gold: #C99E40;
$gold-gradient: linear-gradient(112deg, rgba(156,120,33,1) 0%, rgba(156,120,33,1) 18%, rgba(252,223,124,1) 34%, rgba(156,120,33,1) 47%, rgba(156,120,33,1) 56%, rgba(252,223,124,1) 75%, rgba(156,120,33,1) 94%);
